{% extends 'base.html' %} {% block title %}Bosh sahifa{% endblock title %}
{%load static %} {% block content %}

<!--index-->
<div class="hero-slide owl-carousel site-blocks-cover">
    <div
            class="intro-section"
            style="background-image: url('{% static 'images/hero_5.jpg' %}')"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>Jizzax <br/>viloyati</h1>
                </div>
            </div>
        </div>
    </div>

    <div
            class="intro-section"
            style="background-image: url('{% static 'images/hero_2.jpg' %}')"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>Jizzax <br/>shahar</h1>
                </div>
            </div>
        </div>
    </div>

    <div
            class="intro-section"
            style="background-image: url('{% static 'images/hero_3.webp' %}')"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>22 - IDUM<br/></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div></div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-4 mb-5">
                <h2 class="section-title-underline mb-5">
                    <span>O'qishni boshlaymiz</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-mortarboard text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>Video darslarni kuzating</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi
                            hendrerit elit
                        </p>
                        {% if user.is_authenticated %}
                        <p>
                            <a
                                    href="{% url 'curriculum:standard_list' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% else %}
                        <p>
                            <a
                                    href="{% url 'user_login' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-school-material text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>Vazifalarni bajaring</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi
                            hendrerit elit
                        </p>
                        {% if user.is_authenticated %}
                        <p>
                            <a
                                    href="{% url 'curriculum:standard_list' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% else %}
                        <p>
                            <a
                                    href="{% url 'user_login' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="feature-1 border">
                    <div class="icon-wrapper bg-primary">
                        <span class="flaticon-library text-white"></span>
                    </div>
                    <div class="feature-1-content">
                        <h2>Bilimingizni mustahkamlang</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi
                            hendrerit elit
                        </p>
                        {% if user.is_authenticated %}
                        <p>
                            <a
                                    href="{% url 'curriculum:standard_list' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% else %}
                        <p>
                            <a
                                    href="{% url 'user_login' %}"
                                    class="btn btn-primary px-4 rounded-0"
                            >O'qishni boshlash</a
                            >
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div align="center" style="padding-bottom:50px;">
    <img src="{% static 'images/tashabbus.png' %}" alt="rasm sjhsjjsf" style="width:80%">
</div>
<div class="container">
    <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-6 mb-5">
            <h2 class="section-title-underline mb-3">
                <span>Asosiy ko'rsatkichlar</span>
            </h2>
            <p>Jizzax shahar 22-IDUM</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="four col-md-3">
            <div class="counter-box colored"><img src="https://img.icons8.com/cute-clipart/64/000000/home.png"/><span
                    class="counter">5</span>
                <p>Bloklar</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box"><img src="https://img.icons8.com/color/100/000000/group.png"/></i> <span
                    class="counter">2567</span>
                <p>O'quvchilar</p>
            </div>
        </div>

        <div class="four col-md-3">
            <div class="counter-box"><img src="https://img.icons8.com/clouds/100/000000/user.png"/></i> <span
                    class="counter">145</span>
                <p>O'qituvchilar</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box colored"><img
                    src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-book-back-to-school-vitaliy-gorbachev-flat-vitaly-gorbachev.png"/>
                <span class="counter">3</span>
                <p>Tilda ta`lim olib boriladi</p>
            </div>
        </div>

    </div>
</div>


{% if courses %}

<div class="site-section" id="courses">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6 mb-5">
                <h2 class="section-title-underline mb-3">
                    <span>Bizning to'garaklarimiz</span>
                </h2>
                <p>Bosh vaqtingizni qo'shimcha ilm olishga sarflang</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="owl-slide-3 owl-carousel">
                    {% for course in courses %}
                    <div class="course-1-item" style="height: 37rem">
                        <figure class="thumnail">
                            <a href="course-single.html"
                            ><img
                                    src="{{course.image.url}}"
                                    alt="Image"
                                    class="img-fluid"
                                    style="height: 13rem; width: 100%; object-fit: cover"
                            />
                            </a>
                            <div class="category">
                                <h3>{{course.title}}</h3>
                            </div>
                        </figure>
                        <div class="course-1-content pb-4">
                            <p class="desc mb-4">{{course.description}}</p>
                            <p>
                                <a
                                        href="#!"
                                        class="btn btn-primary rounded-0 px-4"
                                        onclick="kurs()"
                                >A'zo bo'lish</a
                                >
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div
        id="about_school"
        class="section-bg style-1"
        style="background-image: url('{% static 'images/hero_2.jpg' %}')"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="section-title-underline style-2">
                    <span>Maktabmiz haqida</span>
                </h2>
            </div>
            <div class="col-lg-8">
                <p class="lead">
                    22-Ayrim fanlarni chuqur o'rganiladigan davlat ixtisoslashtirilgan umumta'lim maktabi 1991-yil 2-sentyabr kuni O'zbekiston Respublikasi
                mustaqillik kunida tashkil topgan.
                </p>
                <p>
                    O'zbekiston Respublikasi "Talim tog'risidagi ta'lim" "Kadrlar tayyorlash milliy dasturi" ga muvofiq
                    Xalq deputatlari Jizzax viloyat kengashining 1991-yil 2-sentyabr kunidagi 22/8P-sonli qaroriga muvofiq
                    dastlab iqtidorli bolalar gimnaziyasi sifatida ochildi.
                </p>
                <p><a href="{% url 'about_school' %}">Batafsil</a></p>
            </div>
        </div>
    </div>
</div>

<!-- // 05 - Block -->
{% if honorary %}
<div class="site-section">
    <div class="container">
        <div class="row mb-5" style="text-align:center; ">
            <div class="col-lg-4">
                <h2 class="section-title-underline">
                    <span>Faxriy ustozlarimiz</span>
                </h2>
            </div>
        </div>

        <div class="owl-slide owl-carousel">
            {% for teacher in honorary %}
            <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                    {% if teacher.image %}
                    <img src="{{teacher.image.url}}" alt="Image" class="img-fluid mr-3"/>
                    {% else %}
                    <img
                            src="{% static 'images/user_avatar.png' %}"
                            alt="Image"
                            class="img-fluid mr-3"
                    />

                    {% endif %}
                    <div>
                        <h3>{{teacher.name}}</h3>
                        <span>{{teacher.science}}</span>
                    </div>
                </div>
                <div>
                    <p>&ldquo;{{teacher.about}}&rdquo;</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div
        class="section-bg style-1"
        style="background-image: url('{% static 'images/hero_2.jpg' %}')"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-mortarboard"></span>
                <h3>Nazariy ta'lim</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
                    recusandae, iure repellat quis delectus ea? Dolore, amet
                    reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-school-material"></span>
                <h3>Muvafaqiyat</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
                    recusandae, iure repellat quis delectus ea? Dolore, amet
                    reprehenderit.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="icon flaticon-library"></span>
                <h3>Amaliyot</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis
                    recusandae, iure repellat quis delectus ea? Dolore, amet
                    reprehenderit.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="news-updates" id="news-updates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6 mb-5">
                    <h2 class="section-title-underline mb-3">
                        <span>Yangiliklar</span>
                    </h2>
                    <p>Maktabimiz hayotidagi so'nggi yangiliklar</p>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="post-entry-big">
                            {% if ul_news %}
                            <a href="{% url 'news' %}" class="img-link"
                            >{% if ul_news.news_pic %}<img
                                    src="{{ul_news.news_pic.url}}"
                                    alt="Image"
                                    class="img-fluid"
                                    style="width: 45rem; height: 25.3rem; object-fit: cover"
                            />{% else %}<img
                                    src="{% static 'images/tadbir.jpg' %}"
                                    alt="Image"
                                    class="img-fluid"
                                    style="width: 45rem; height: 25.3rem; object-fit: cover"
                            />{% endif %}</a
                            >
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="{% url 'news' %}">{{ul_news.date_added}}</a>
                                </div>
                                <h3 class="post-heading">
                                    <a href="{% url 'news' %}">{{ul_news.title}}</a>
                                </h3>
                            </div>
                            {% else %}
                            <h4 style="text-align: center">Yangiliklar hozircha yo'q</h4>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        {% if news %} {% for new in news %}
                        <div class="post-entry-big horizontal d-flex mb-4">
                            <a href="{% url 'news' %}" class="img-link mr-4"
                            >{% if new.news_pic %}<img
                                    src="{{new.news_pic.url}}"
                                    alt="Image"
                                    style="width: 6.5rem; height: 3.77rem; object-fit: cover"
                            />{% else %}<img
                                    src="{% static 'images/tadbir.jpg' %}"
                                    alt="Image"
                                    style="width: 6.5rem; height: 3.77rem; object-fit: cover"
                            />{% endif %}</a
                            >
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="{% url 'news' %}">{{new.date_added}}</a>
                                </div>
                                <h3 class="post-heading">
                                    <a href="{% url 'news' %}">{{new.title}}</a>
                                </h3>
                            </div>
                        </div>

                        {% endfor %} {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 2rem">
            <div class="col-12">
                {% if ul_news %}
                <a href="{% url 'news' %}"
                >
                    <button type="button" class="btn btn-primary px-4 rounded-0 btn-lg">
                        Barchasini ko'rish
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-6 mb-5">
            <h2 class="section-title-underline mb-3">
                <span>Hukumat saytlari</span>
            </h2>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom:50px; bgcolor:#000">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://president.uz/uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/gerb.png' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" >
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi Prezidentining rasmiy veb-sayti</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://pm.gov.uz/uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/gerb.png' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi Prezidentining virtual qabulxonasi</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://data.gov.uz/" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/portal.png' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi ochiq axborot portali</h6>
                </div>
            </a>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://president.uz/uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""   src="{% static 'images/a.jpg' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi Prezidentining Matbuot xizmati</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://www.gov.uz/uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/bino.jpg' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasining Hukumat portali</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://www.lex.uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/lex.jpg' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi qonun hujjatlari milliy bazasi</h6>
                </div>
            </a>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://www.my.gov.uz/uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/gov.jpg' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">Interaktiv davlat xizmatlarining Yagona portali</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://www.senat.uz" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/majlis.png' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasining Oliy Majlisining Senati</h6>
                </div>
            </a>

        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 mb-md-50" style="border: 0px solid #000;">
            <a href="https://huquqiyportal.uz/" class="testimonial-details mb-0 mr-0" target="blank">
                <img alt=""
                     src="{% static 'images/adliya.jpg' %}"
                     class="img-thumbnail img-circle pull-left mr-15 mt-15" width="60" style="border-radius:50%;">
                <div class="author-info pt-15" style="display:block">
                    <h6 class="mt-5" style="margin-top: 1rem!important;">O'zbekiston Respublikasi Milliy huquqiy internet portali</h6>
                </div>
            </a>

        </div>
    </div>

</div>
{% endblock content %}
